###### `"What am I trying to do with the data?"`

#### An end-to-end Scikit-Learn workflow

In [1]:
# Standard imports
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

###### Random Forest Classifier Workflow for Classifying Heart Disease

1. Get the data ready

In [2]:
heart_disease= pd.read_csv('heart-disease.csv')
heart_disease.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [3]:
# create a variable of all features except the target
X = heart_disease.drop("target", axis= 1)  # axis= 1 --- column
# create a variable of the target
y = heart_disease["target"]

In [4]:
X.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2

In [5]:
y.head()

0    1
1    1
2    1
3    1
4    1
Name: target, dtype: int64

In [6]:
y.value_counts()  # Return a Series containing counts of unique values

1    165
0    138
Name: target, dtype: int64

In [7]:
# split the data into training and test data sets
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test= train_test_split(X, y)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((227, 13), (76, 13), (227,), (76,))

2. Choose the model and hyperparameters

In [8]:
# using Random Forest
from sklearn.ensemble import RandomForestClassifier
clf= RandomForestClassifier()    #model/classifier/estimator
# leave the hyperparameters as default to begin with
clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

3. fit the model to the data & use it to make a prediction

In [9]:
clf.fit(X_train, y_train)

RandomForestClassifier()

In [10]:
# to predict a label, data has to be in the same shape
X_test.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
185,44,1,0,112,290,0,0,153,0,0.0,2,1,2
286,59,1,3,134,204,0,1,162,0,0.8,2,2,2
226,62,1,1,120,281,0,0,103,0,1.4,1,1,3
7,44,1,1,120,263,0,1,173,0,0.0,2,0,3
70,54,1,2,120,258,0,0,147,0,0.4,1,0,3

In [11]:
# use the model to make a prediction  on the test data
y_pred= clf.predict(X_test)

4. Evaluate the model

In [12]:
# evaluate the model on the training set
clf.score(X_test, y_test)

0.7368421052631579

In [13]:
from sklearn.metrics import classification_report, confusion_matrix
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.82      0.66      0.73        41
           1       0.67      0.83      0.74        35

    accuracy                           0.74        76
   macro avg       0.75      0.74      0.74        76
weighted avg       0.75      0.74      0.74        76

In [14]:
conf_mat= confusion_matrix(y_test, y_pred); conf_mat

array([[27, 14],
       [ 6, 29]], dtype=int64)

In [15]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

0.7368421052631579

5. experiment to improve

the first model is referred to as a `baseline`, not the final model. so needs improvement

In [17]:
# try different numbers of estimators(trees) ---- no cross-validation
np.random.seed(42)
for i in range(10, 100, 10):
    print(f"Trying model with {i} estimators...")
    model= RandomForestClassifier(n_estimators= i).fit(X_train, y_train)
    print(f"Model accuracy on test set: {model.score(X_test, y_test)}")
    print("")

Trying model with 10 estimators...
Model accuracy on test set: 0.7105263157894737

Trying model with 20 estimators...
Model accuracy on test set: 0.75

Trying model with 30 estimators...
Model accuracy on test set: 0.6842105263157895

Trying model with 40 estimators...
Model accuracy on test set: 0.7368421052631579

Trying model with 50 estimators...
Model accuracy on test set: 0.7631578947368421

Trying model with 60 estimators...
Model accuracy on test set: 0.75

Trying model with 70 estimators...
Model accuracy on test set: 0.7631578947368421

Trying model with 80 estimators...
Model accuracy on test set: 0.6973684210526315

Trying model with 90 estimators...
Model accuracy on test set: 0.7631578947368421

In [20]:
from sklearn.model_selection import cross_val_score
# with cross-valuation
for i in range(10, 100, 10):
    print(f"Trying model with {i} estimators...")
    model= RandomForestClassifier(n_estimators= i).fit(X_train, y_train)
    print(f"Model accuracy on test set: {model.score(X_test, y_test)}")
    print(f"Cross-validation score: {np.mean(cross_val_score(model, X, y))}")
    print("")

Trying model with 10 estimators...
Model accuracy on test set: 0.75
Cross-validation score: 0.765464480874317

Trying model with 20 estimators...
Model accuracy on test set: 0.7368421052631579
Cross-validation score: 0.8049726775956284

Trying model with 30 estimators...
Model accuracy on test set: 0.7763157894736842
Cross-validation score: 0.8182513661202184

Trying model with 40 estimators...
Model accuracy on test set: 0.7368421052631579
Cross-validation score: 0.8150819672131148

Trying model with 50 estimators...
Model accuracy on test set: 0.75
Cross-validation score: 0.8018032786885246

Trying model with 60 estimators...
Model accuracy on test set: 0.7894736842105263
Cross-validation score: 0.798360655737705

Trying model with 70 estimators...
Model accuracy on test set: 0.7631578947368421
Cross-validation score: 0.8116939890710382

Trying model with 80 estimators...
Model accuracy on test set: 0.7763157894736842
Cross-validation score: 0.8346994535519124

Trying model with 90 estimators...
Model accuracy on test set: 0.7631578947368421
Cross-validation score: 0.8051366120218579

In [25]:
# GridSearchCV
np.random.seed(42)
from sklearn.model_selection import GridSearchCV
# define the parametres to search over
param_grid= {'n_estimators':[i for i in range(10, 100, 10)]}
# setup the grid search
grid= GridSearchCV(RandomForestClassifier(), param_grid, cv= 5)
# fit the grid search to the data
grid.fit(X, y)
# find the best parameters
grid.best_params_

{'n_estimators': 80}

In [26]:
# set the model to be the best estimator
clf= grid.best_estimator_
clf

RandomForestClassifier(n_estimators=80)

In [27]:
# fit the model
clf= clf.fit(X_train, y_train)

In [28]:
# find the best model scores
clf.score(X_test, y_test)

0.75

6. Save the model for someone else to use

In [30]:
import pickle
# save an existing model to a file
pickle.dump(model, open("random_forest_model_1.pck", "wb"))

In [31]:
# load a saved model and make prediction
loaded_model= pickle.load(open("random_forest_model_1.pck", "rb"))
loaded_model.score(X_test, y_test)

0.7631578947368421